.subHeading{
    color: #c4c5c5;
    text-align: center;
    margin-bottom: 20px;
}

.avatarWrapper{
    height: 110px;
    width: 110px;
    border: 6px solid #0077ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.avatarImage{
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.avtarInput{
    display: none;
}

.avatarLabel{
    color: #0077ff;
    margin: 30px 0;
    display: inline-block;
    cursor: pointer;
}